<p>roles works properly!</p>

<div class="row">
    <div class="col-3">{{firstName}}</div>
    <div class="col-3">{{lastName}}</div>
    <div class="col-3">{{currentDate}}</div>
</div>

<div class="row">
    <div class="col-3">
        <input type="text" [value]="firstName" class="form-control" placeholder="Enter first name...">
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-primary">Submit</button>
    </div>
    <div class="col-3">
      <input type="text" [(ngModel)]="firstName" class="form-control" placeholder="Enter something to view changes..">
    </div>
</div>

<div class="row mt-3">
    <div class="col-3">
        <button class="btn btn-success" (click)="showAlert()">Show Alert</button>
    </div>
    <div class="col-3">
        <button class="btn btn-warning" (click)="showMessage('Parametarized message will be here')">Show message</button>
    </div>
</div>